/* You can add global styles to this file, and also import other style files */
section {
    display: block;
    border-color: blueviolet;
    background-color: rgb(161, 148, 148);
    padding: 1%;
}